<div class="card mb-3">
  <img src="/static/img/<%= image %>" class="card-img-top">
  <div class="card-body">
    <a href="/blog/<%= id %>" class="link-underline link-underline-opacity-0"><h5 class="card-title text-danger"><%= title %></h5></a>
    <p class="card-text"><%= subtitle %></p>
    <a href="/blog/<%= id %>" class="btn btn-danger">Devamı için</a>
  </div>
</div>